[Desktop Entry]
Name=Rotorflight Configurator C4Master Edition
Comment=Crossplatform configuration tool for the Rotorflight flight control system
Exec=/opt/rotorflight/rf-configurator-c4/rf-configurator-c4
Icon=/opt/rotorflight/rf-configurator-c4/icon/rf_icon.png
Terminal=false
Type=Application
Categories=Utility
